# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
refs/.gitignore
refs/index.html
refs/index.tsx
refs/metadata.json
refs/package.json
refs/README.md
refs/tsconfig.json
refs/vite.config.ts
refs/components/ConfirmModal.tsx
refs/components/Icons.tsx
refs/components/LoadingOverlay.tsx
refs/components/MenuBar.tsx
refs/components/PropertiesPanel.tsx
refs/components/SceneTree.tsx
refs/components/SettingsPanel.tsx
refs/components/ToolPanels.tsx
refs/core/SceneManager.ts
refs/loaders/ifcLoader.ts
refs/loaders/lmbLoader.ts
refs/locales/Locales.ts
refs/styles/Styles.ts
refs/utils/converter.ts
refs/utils/LoaderUtils.ts
